<div id="title">THE BABY MOUSE AND THE BABY SNAKE</div>
<div id="content">
<p>


Once upon a time, a mouse gave birth to a baby mouse and the snake gave birth to a serpent.

The mouse prohibited its baby from playing at the brook near his house, lest he drowned and died.

One day the baby mouse and the serpent met, and became friends and played together.



In the evening when they finished playing, both the baby mouse and the serpent went to

When the baby mouse got home, his mother remarked that his hair was wet and she

their mothers.

spoke to him harshly.
</p>
<p>
Mother Mouse: Did you go to play at the

brook that I forbade you from going?
</p><p>
Baby mouse: No, I did not go to the

brook.
</p><p>
Mother Mouse: Then how come you are

so wet?
</p><p>
Baby mouse: It’s the saliva of my friend

serpent that made me wet.
</p><p>
Mother Mouse: Listen very carefully!

Since the time of our ancestors, snakes

have never been our friends. They still

consider us their

favorite food. Now, starting from today,

never dare to play with a snake, it is not

your Friend but your enemy. Besides, if you

dare to play with him, it could kill you and

eat you, stay far away from him.
</p><p>

When the small snake got home, his mother observed and made remarks about the hair in his little mouth.
</p><p>
Mother Serpent: Since when did you

start to eat by yourself without keeping

some for me?

</p><p>
Serpent: No, I have not eaten

anything.
</p><p>
Mother Serpent: But where did the

hair in your mouth come from?
</p><p>
Serpent: I was playing with my friend

little mouse.
</p><p>
Mother Serpent: Oh! What an idiot!

You mean our favorite meal is now a

friend? Do we not have them as part of

our delicacy every day? Here's what

you will do tomorrow when you go out

to play; when he comes close to you,

bind him, inject him with venom and

you bring him here for us to eat.
</p><p>
Serpent: yes mom I understand.

Tomorrow I'll bring him to you.
</p><p>
The next morning, the serpent arrived earlier at the spot where the two friends meet to

play. The serpent was smiling while he called out to his friend the young mouse with

good humor.
</p><p>
Serpent: My friend, come, come out

to play!
</p><p>
The prudent Baby mouse observed how eagerly the serpent approached him, he then

remembered his mother’s advice and told the serpent:
</p><p>
Baby mouse: I cannot come near

you. We must not forget our mothers’

advice. You're not my friend, you're my enemy now, your goal is to kill me

and take me to your home as food.
</p><p>
The serpent went back home very disappointed and said to her mother:

Serpent: Look, the little mouse was

warned by his mother, he even refused to approach me for playing.
</p><p>
Since that day a terrible hatred settled between the snake and the mouse.
</p><br />

<p>
<b>Lesson not only for African children, but also for non-Africans:</b><br />

There is an African proverb that says: "The words of the elderly may be bitter, but they

are full of wisdom".<br />

It is always good to listen to our parents’ advice because they can usually sense when an

action is dangerous.<br />

If the little mouse did not listen to his mother’s advice, he would have been bitten and

eaten by the snake. Like the little mouse, let us listen to the advice of our parents or

adults because they have a wealth of life experience much more than us.
</p>


	<div id="author">
		<a href="http://anikefoundation.org/?page_id=673">copyright @ Anike Foundation</a>
	</div>

</div>
