<div id="title">The Calabash Kids</div>
<div id="subtitle">A tale from Tanzania</div>
<div id="content"><p>
Once there was a woman named

Shindo, who lived in a village at the

foot of a mountain. Her husband had

died, and she had no children, so she

was very lonely. And she was always

tired too, for she had no one to help

with the chores.

All on her own, she cleaned the

hut and yard, tended the chickens,

washed her clothes in the river,

carried water, cut firewood, and

cooked her solitary meals.

At the end of each day, Shindo

looked up to heaven.

“Great Almighty!” she would pray.

“My work is too hard. Send me

help!”

</p><p>

One day, Shindo was weeding her small field by the river, where she

grew vegetables and bananas and gourds. Suddenly, a noble chieftain

appeared beside her.

“I am a messenger from the Great Almighty,” he told the astonished

woman, and he handed her some gourd seeds. “Plant these carefully.

They are the answer to your prayers.”

Then the chieftain vanished.

Shindo wondered, “What help could I get from a handful of seeds?” Still,

she planted and tended them as carefully as she could.

She was amazed at how quickly they grew. In just a week, long vines

trailed over the ground, and ripe gourds hung from them.

</p><p>

Ki-te-te,

come help

us! We’ll work

for our

mother.

Come help

us, Kitete

Our favorite brother!

Shindo brought the gourds home,

sliced off the tops, and scooped out

the pulp. Then she laid the gourds

on the roof of her hut to dry. When

they hardened, she could sell them

at the market as calabashes, to be

made into bowls and jugs.

One fine gourd Shindo set by the

cook fire. This one she wanted to use

herself, and she hoped it would dry

faster.

The next morning, Shindo went off

again to tend her field. But

meanwhile, back in the hut, the

gourds began to change. They

sprouted heads, then arms, then

legs.

Soon, they were not gourds at all.

They were children!

One boy lay by the fire, where

Shindo had put the fine gourd. The

other children called to him from the

roof.

</p><p>

Kitete helped his brothers and sisters down from

the roof. Then the children ran through the hut

and yard, singing and playing.

All joined in but Kitete. Drying by the fire had

made the boy slow-witted. So he just sat there,

smiling widely.

After a while, the other children started on the

chores. They quickly cleaned the hut and yard, fed

the chickens, washed the clothes, carried water,

cut firewood, and cooked a meal for Shindo to eat

when she returned.

When the work was done, Kitete helped the

others climb back on the roof. Then they all

turned again into gourds.

That afternoon, as Shindo returned home, the

other women of the village called to her.

“Who were those children in your yard today?”

they asked. “Where did they come from? Why

were they doing your chores?”

“What children? Are you all making fun of me?”

said Shindo, angrily.

But when she reached her hut, she was

astounded. The work was done, and even her

meal was ready! She could not imagine who had

helped her.

</p><p>

The next morning, Shindo pretended to

leave, but she hid beside the door of the

hut and peeked in. And so she saw the

gourds turn into children, and heard the

ones on the rooftop call out,

“Ki-te-te, come help us!

We’ll work for our mother.

Come help us, Ki-te-te,

Our favorite brother!”

As the children rushed out the door,

they nearly ran into Shindo. She was too

astonished to speak, and so were the

children. But after a moment, they went

on with their playing, and then with

their chores.

When they were done, they started to

climb back to the rooftop.

“No, no!” cried Shindo. “You must not

change back into gourds! You will be the

children I never had, and I will love you

and care for you.”

</p>
<p>

So Shindo kept the children asher own. She was no longer lonely. And the children were so helpful, she soon became

rich, with many fieldsof vegetablesand bananas, and flocksof sheep and goats. That is, all were helpful but Kitete, who

stayed by the fire with his simple-minded smile. Most of the time, Shindo didn’t mind. In fact, Kitete was really her

favorite, because he was like a sweet baby. But sometimes, when she was tired or unhappy about something else, she

would get annoyed at him.

“Why can’t you be smart like your brothers and sisters, and work as hard as they do?” Kitete would only grin back at her.

One day, Shindo was out in the yard, cutting vegetables for a stew. As she carried the pot from the bright sunlight into

the hut, she tripped over Kitete. She fell, and the clay pot shattered. Vegetables and water streamed everywhere.

“Haven’t I told you to stay out of my way? But what can I expect? You’re not a real child at all. You’re nothing but a

calabash!”

The very next moment, she gave a scream. Kitete was no longer there, and in his place was a gourd.

“What have I done?” cried Shindo, as the children crowded into the hut. “I didn’t mean what I said! You’re not a

calabash, you’re my own darling son. Oh, children, please do something!”

The children looked at each other. Then over each other they climbed, scampering up to the rooftop. When the last child

had been helped up by Shindo, they called out one last time,

“Ki-te-te, come help us!

We’ll work for our mother.

Come help us, Ki-te-te,

Our favorite brother!”

For a long moment, nothing happened. Then slowly, the gourd began to change. It sprouted a head, then arms, then

legs. At last, it was not a gourd at all. It was—

Kitete!

Shindo learned her lesson. Ever after, she was very careful what she called her children. And so they gave her comfort and happiness, all the rest of her days.
</p>

	<div id="author">
		<a href="http://anikefoundation.org/?page_id=271">copyright @ Anike Foundation</a>
	</div>

</div>
