<div id="title">The Great King</div>
<div id="content">
<p>
There once lived a

great and powerful

king in an African

village. Everybody

feared him and came

to pay obeisance to

him. When an

ordinary man came

before the African

king, he would shout

in greeting: "May the

king live forever!"
</p>
<p>

NOKINGLIKEGOD!
</p>
<p>

There was one man in the village who refused to greet the king in that manner.
manner.
Instead, he would say: "There is no king like God."
After many visits to the king, and many repetitions of

this phrase, the king grew angry and

plotted to destroy the man.
</p>
<p>THE KING’S PLOT</p>
<p>
	The king gave the man two silver rings and told him they were his to

keep, but in fact the king meant to avenge himself through them. The

man, whom everybody now called No-King-as-God, took the rings, put

them into a dried and empty ram's horn, and gave them to his wife to

keep for him. Aweek later the king called No-King-as-God and sent

him to a distant village, to tell the people to come and help build up

the city walls.
</p>
<p>THE UNFAITHFUL WIFE</p>
<p>
	As soon as No King Like God had

gone, the king sent for his wife. He

offered her a thousand * cowries if

she would give him the rings which

her husband had put in her care. The

man’s wife was tempted by the great

offer, so she agreed and brought the

ram's horn. When the king looked

inside, there were the two rings safely

stored.
</p>
<p>He placed them back in the horn,

and gave it to his servants with

instructions to throw it far into a lake.

They did so, and as the horn fell into

the water a great fish swam by and

swallowed it.</p>
<p>THE WORRIED MAN</p>
<p>Now, as No-King-as-God was

returning home from his

journey, he met some friends

who were going fishing. He

went with them and caught a

great fish which he took

home.

When he got home, he

asked his wife where the

precious rings were, but she

replied that she could not

find them. He was very

disturbed and disappointed.</p>

<p>THE SURPRISE DISCOVERY</p>

<p>
	They were still talking when a royal

messenger came and told the man

he was wanted by the king at once.

As the man set off for the royal

court, his son who had been

cleaning the fish suddenly struck

his knife on something hard and

he called to his father. The father

pulled out the horn, and when he

opened it and looked inside he

saw the rings which the king had

given him for safe keeping. "Truly,"

he said, "there is no king like

God."
</p>
<p>NO KING LIKE GOD!</p>
<p>When the man arrived at the palace, he

greeted the king in his usual way, “No King

Like God”. The king demanded the rings

which he had given the man, and signaled

his guards to close round him to kill him.</p>

<p>But No-King-as-God put his hand

under his robe and pulled out the

horn and handed it to the king. The

king opened it and took out his two

silver rings. The king wondered

how the man could have found the

rings and said aloud, "Indeed,

there is no king like God“. All his

counselors shouted in approval.

Then the king divided his city into

two, and gave half of it to No-King- as-God to rule.</p>


	<div id="author">
		<a href="http://anikefoundation.org/?page_id=239">copyright @ Anike Foundation</a>
	</div>

</div>
