<div id="title">The King’s Daughters</div>
<div id="subtitle">A Nigerian Tale on Pride</div>
<div id="content">
<p>
A long time ago, a wealthy king had three beautiful

daughters. They had everything they wanted offered to

them on a platter of gold. However, only one thing was

lacking in their life, none of them had a husband, nor did

they have a suitor. This made the king very unhappy. He

had food, but he could not eat. What shall we do now?

He asked his wife. I want

my children to be happily

married, but they think that

no one is good enough for

them. 
</p><p>

The king’s daughters’ were however not bothered. “I want to marry the

richest man alive,

handsome man,

more powerful. Oh! What a life I shall live being the queen of a great

empire.” Their mother the queen added,

will be a lucky man, seeing how beautiful they all are. Oh no! My

daughters will only marry the best men in the whole land.”

” said the oldest sister. “I want to marry the most

” the younger sister said arrogantly. As for the youngest

“I want to marry a king like my father. Only he will be richer and

“Whoever marries my daughters

..the

richest

man alive!

I want the most

handsome of them

all!


</p><p>

cherish. The king’s heart was very troubled. He told his wife, “ I’m finding my daughters men who will love and care for them. I will not watch them grow old without husbands and children.” Do whatever you want, said the queen, but my daughters will only marry anyone who can tell their names. That way, I will be sure they are marrying the wisest man in the entire land

My

daughters

deserve

only the

best. The

wisest man

on earth


</p><p>

It was announced throughout the land, that the king

wanted the wisest man to marry his children. Whoever

could tell their names would be given their hands in

marriage. The rich and famous went with gifts to the

palace to try but they couldn’t guess the princesses’

names. No one ever called them by their real names. Everyone called them “the princesses”. 
</p><p>

Soon, every available man in the land had gone to ask for the princesses’ hands in

marriage, but no one could tell their names. So, the tortoise, a very crafty animal decided

he would give it a try. But before he went to the palace, he sneaked around the princesses,

following them everywhere without their knowledge. Just when the tortoise started to think

there was no hope for him, luck smiled on him one day. The princesses went apple picking

on the outskirts of the town. They hadn’t gone very far when the youngest princess saw a

bike. Now, a bike was a very uncommon sight in those days. The youngest princess was so

excited that she started singing. As she sang, she called her older sister by her real name.

The younger sister rushed over, and she did the same, calling their oldest sister. They

ended up singing together, dancing around the bike and calling each other’s name. That

was how the tortoise knew all their names.

Oripolobi!!!

Opobipobi! Opobi- pobi!!


</p><p>

Wow! Their names

are tongue

twisters, how do I

remember now!!

But alas, the tortoise remembered all the princesses’ names. He went to the palace and told

the king. The whole town gathered, and the tortoise said the name of each princess.

Everyone was shocked. The king had no choice but to give all his daughters to the tortoise

as his wives. The princesses and the queen were extremely sad. But there was nothing

anyone could do. And so, the tortoise started to take the princesses home as his wives. On

their way to tortoise’ home, the princesses were so ashamed, that they each chose a very

different lifestyle rather than become the tortoise’ wife.

I’ll rather

live with

animals in

the forest ?!!

I will rather live

with fish in the

river


</p><p>

And so it happened that

since that day, no one ever

saw any of the princesses

again. The king and queen

were very sad, but there

was nothing anyone could

do. If only the princesses

and their mother had

known, they would not

have been so proud and

arrogant in choosing their

husbands. 
</p>

	<div id="author">
		<a href="http://anikefoundation.org/?page_id=265">copyright @ Anike Foundation</a>
	</div>

</div>
