<div id="title">The Tortoise, the Dog and the Farmer</div>
<div id="subtitle">A tale from Nigeria, West Africa</div>
<div id="content">
<p>
Once upon a time, there was

famine in the land of the animals

because the dry season had

extended more than usual. There was

no rain in the land and every animal

was looking rather thin and unhealthy

because very limited food was available.

However the tortoise observed that his friend, the

dog was looking very fresh and healthy. He

wondered what the secret of the dog’s well being

was and decided to find out.

</p><p>

The next day, the tortoise

decided to pay his friend, the

dog a visit.



On getting to his

house, the tortoise

said, “My good friend,

you know we have

been friends for a very

long time, please tell

me the secret of your

rosy cheeks and your

bulging stomach,

despite the famine

throughout the land. I

need to know so that I

do not die of hunger.”

</p><p>

The dog replied, “There is no secret to it my good

friend, it’s all my hard work that has paid off.”

The tortoise was not fooled by the dog’s reply and he

decided to press further. He said,” My friend, I know that

you have found a way to beat this famine, please tell

me, I will keep your secret.” The dog however denied

that there was any secret behind his well being. So, the

tortoise thanked him and left, but he could not get the

issue out of his mind so he came up with a plan.

</p><p>

The next day, he decided to shadow the dog’s movements. He hid behind a tree

and observed the dog leave home very early in the morning with a basket. He

tailed him all the way to the neighboring village, making sure he was at some

safe distance behind the dog all the time.

</p><p>

The dog made his way to a farm

and, after looking around to

make sure that no one was

watching, started harvesting yam

off the farm into his basket. The

tortoise then announced his

presence to the dog. The dog

was shocked that his friend

would go to that extent to find

out his secret, but there was

nothing he could do. He decided

to let the tortoise in on his

terrible act of stealing from

someone else’s farm. So off they

went on the next day, and the

next, and the next....

</p><p>

Each time they went, the tortoise

took a little more than he did the

previous day. It then occurred to

the dog that the more yams the tortoise added each day, the longer it took them to get back home, so he decided to caution

him. “My good friend tortoise,

the quantity of yam you take

home each day is becoming too much. Yesterday, we left for

home at 5.45pm. The farmer

may catch us and then that will

be the end of us.” The tortoise

replied nonchalantly, “Don’t

worry my friend; I’m storing enough yam at home for the

rainy day. The farmer will never

catch us.”

”I don’t think you should be

greedy; you could get us in

trouble if we harvest too much

yam than we can carry easily enough to escape being caught by the farmer,” said the dog worriedly.

</p><p>

So the next day, at 5.30 prompt, the dog announced that he was leaving

for home. But the tortoise pleaded for some more time to harvest yam.

Shortly after, the dog put his basket on his head and started heading

home. The tortoise noticed this and shouted after the dog.

The dog however refused to listen and

made haste to avoid the farmer. The

tortoise pleaded for hours, but the dog

by then had long gone. The farmer

arrived on his farm and found the

tortoise with a basketful of his yam. He

handed him over to the king’s men and

the tortoise was brought to justice.

When the dog saw what had happened

to his friend tortoise, he was afraid, he

then realized how unfair his actions

towards the farmer had been. From

then on, he decided that he would

never take whatever did not belong to

him so that he would not get himself

into trouble like the tortoise.

”Dog, wait for

me, wait for

me, I can’t carry

my basket

alone, it’s too

heavy, please

help me,”
</p>
	<div id="author">
		<a href="http://anikefoundation.org/?page_id=254">copyright @ Anike Foundation</a>
	</div>

</div>
