<div class="jumbotron text-center">

	<h2> List of African Short Stories </h2>

	<!-- 	<p>{{ stories.results }}</p> -->
	<ol>
		<li><a href="/stories/the_twins">The Twins</a></li>
		<li><a href="/stories/great_king">The Great King</a></li>
		<li><a href="/stories/calabash_kids">The Calabash Kids</a></li>
		<li><a href="/stories/pregnant_virgin">The Pregnant Virgin</a></li>
		<li><a href="/stories/kings_daughters">The King’s Daughters</a></li>
		<li><a href="/stories/proud_princes">Afiong The Proud Princess</a></li>
		<li><a href="/stories/why_bat_flies_at_night">Why Bat Flies at Night</a></li>
		<li><a href="/stories/tortoise_dog_farmer">The Tortoise, the Dog and the Farmer</a></li>
		<li><a href="/stories/cheetah_and_lazy_hunter">The Cheetah and the Lazy Hunter</a></li>
		<li><a href="/stories/baby_mouse_and_baby_snake">The baby mouse and the baby snake</a></li>
		<li><a href="/stories/childs_dream">A child's dream of a star</a></li>
	</ol>
</div>
